In [13]:
import pandas as pd

In [3]:
df = pd.read_pickle('data/saeb_treated.pkl')
print(len(df))
df.head()

155728

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,amostra,proficiencia,erro_padrao,proficiencia_saeb,...,escolaridade_pai_5,escolaridade_pai_6,forma_chegada_escola_0,forma_chegada_escola_1,forma_chegada_escola_2,forma_chegada_escola_3,forma_chegada_escola_4,forma_chegada_escola_5,forma_chegada_escola_6,forma_chegada_escola_7
69,2021,PB,1,43575034,1,MT,0,-0.220310,0.350673,237.650742,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
70,2021,PB,1,43575034,1,LP,0,-1.053385,0.447439,191.950468,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
71,2021,PB,1,49370848,1,LP,0,-0.785038,0.389307,206.734607,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
126,2021,PB,1,43517493,1,MT,0,-0.357253,0.377772,229.996679,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,2021,PB,1,43509591,1,MT,0,1.000746,0.363297,305.898405,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0