In [169]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers
from keras import regularizers
from sklearn.metrics import accuracy_score
import numpy as np
from IPython.display import clear_output

clear_output()

In [170]:
df = pd.read_pickle('data/saeb_pb_filtered.pkl')
df.head()

    ano sigla_uf  ...  leitura_livros_geral leitura_historia_quadrinhos
0  2021       PB  ...                  None                        None
1  2021       PB  ...                  None                        None
2  2021       PB  ...                  None                        None
3  2021       PB  ...                  None                        None
4  2021       PB  ...                  None                        None

[5 rows x 33 columns]

In [171]:
# selecting categorical columns
columns_to_filter = ['possui_eletrecidade', 'possui_escrivaninha', 'escolaridade_mae', 'escolaridade_pai', 'responsaveis_leem', 'responsaveis_incentivam_realizacao_licao_casa', 'responsaveis_incentivam_estudos', 'responsaveis_incentivam_comparecer_aulas', 'tempo_chegada_escola', 'forma_chegada_escola', 'transporte_escolar', 'tempo_lazer', 'tempo_cursos', 'tempo_estudos']

# remove rows with all values '.' or '*'
df = df[(df[columns_to_filter] != '.').all(axis=1)]
df = df[(df[columns_to_filter] != '*').all(axis=1)]
print(len(df))

df.head()

118745

     ano sigla_uf  ...  leitura_livros_geral leitura_historia_quadrinhos
1   2021       PB  ...                  None                        None
17  2021       PB  ...                  None                        None
63  2021       PB  ...                  None                        None
64  2021       PB  ...                  None                        None
65  2021       PB  ...                  None                        None

[5 rows x 33 columns]

In [172]:
# print columns with dtype object
print(df.select_dtypes(include=['object']).columns)

Index(['sigla_uf', 'id_aluno', 'disciplina', 'desempenho_aluno', 'sexo',
       'raca_cor', 'possui_eletrecidade', 'possui_escrivaninha',
       'escolaridade_mae', 'escolaridade_pai', 'responsaveis_leem',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos',
       'responsaveis_incentivam_comparecer_aulas', 'tempo_chegada_escola',
       'forma_chegada_escola', 'transporte_escolar', 'tempo_lazer',
       'tempo_cursos', 'tempo_estudos', 'leitura_noticias',
       'leitura_livros_geral', 'leitura_historia_quadrinhos'],
      dtype='object')

In [173]:
# nulling '2021' from 'idade'
df['idade'] = df['idade'].apply(lambda x: x if x != 2021 else np.nan)


# change 'idade' type to float (temporarily)
df['idade'] = df['idade'].astype(float)

# fill 'idade' missing values with the mean (int)
df.fillna({'idade': df['idade'].mean()}, inplace=True)
df['idade'] = df['idade'].astype(int)

df['idade'].head()

1     15
17    14
63    15
64    16
65    16
Name: idade, dtype: int64

In [174]:
print(df['idade'].value_counts())

print('\n')

print(df['idade'].describe())

idade
14    83147
15    25475
16     7224
17     2899
Name: count, dtype: int64


count    118745.000000
mean         14.409449
std           0.714114
min          14.000000
25%          14.000000
50%          14.000000
75%          15.000000
max          17.000000
Name: idade, dtype: float64

In [175]:
df['desempenho_aluno'].value_counts(dropna=False)

desempenho_aluno
Básico          60283
Insuficiente    26051
Proficiente     21071
None             7636
Avançado         3704
Name: count, dtype: int64

In [176]:
print(df['proficiencia_saeb'].isnull().sum())

# drop null values from 'proficiencia_saeb'
df.dropna(subset=['proficiencia_saeb'], inplace=True)

print(df['proficiencia_saeb'].isnull().sum())

2
0

In [177]:
# changing 'desempenho_aluno' to categorical numerical values
# Insuficiente = 0, Básico = 1, Proficiente = 2, Avançado = 3
# dropping None values

# drop the ones with value 'None'
_ = df.dropna(subset=['desempenho_aluno']).copy()

_.loc[:, 'desempenho_aluno_cat'] = _['desempenho_aluno'].map({'Insuficiente': 0, 'Básico': 1, 'Proficiente': 2, 'Avançado': 3})
#df['desempenho_aluno'] = df['desempenho_aluno'].astype(int)

df = _

df['desempenho_aluno_cat'].value_counts(dropna=False)

desempenho_aluno_cat
1    60283
0    26051
2    21071
3     3704
Name: count, dtype: int64

In [179]:
# change categorical columns (with dtype = 'object') to numerical values
# using LabelEncoder
le = LabelEncoder()

for column in columns_to_filter:
    df[column] = le.fit_transform(df[column])

df.head()

      ano sigla_uf  ...  leitura_historia_quadrinhos desempenho_aluno_cat
69   2021       PB  ...                         None                    1
70   2021       PB  ...                         None                    0
71   2021       PB  ...                         None                    1
126  2021       PB  ...                         None                    1
127  2021       PB  ...                         None                    2

[5 rows x 34 columns]

In [181]:
save = True

if save:
    df.to_pickle('data/saeb_treated.pkl')