In [217]:
import pandas as pd
import numpy as np
import os
cwd = os.getcwd()

ROOT = os.path.join(cwd, '../')
DATA_FOLDER = os.path.join(ROOT, 'data/')

In [218]:
df = pd.read_pickle(os.path.join(DATA_FOLDER, 'saeb_pb_filtered_2015.pkl'))
df.head()

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_espetaculo_exposicao,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno
0,2015,PB,1,17506194,0,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,2,25062638,9,1
1,2015,PB,1,17506813,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25063235,9,1
2,2015,PB,1,17566642,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,1
3,2015,PB,1,17566644,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,1
4,2015,PB,1,17566694,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,2

In [219]:
df1 = pd.read_pickle(os.path.join(DATA_FOLDER, 'saeb_pb_filtered_2017.pkl'))
df1.head()

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_espetaculo_exposicao,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno
0,2017,PB,1,23055181,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25033670,9,2
1,2017,PB,1,23078502,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,2,61199441,9,1
2,2017,PB,1,23078460,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,2,61199441,9,1
3,2017,PB,1,23155767,1,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25122150,9,1
4,2017,PB,1,23161711,0,MT,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,3,25253948,9,1

In [220]:
print(len(df))

indexes_to_remove = df[df['mae_sabe_ler_escrever'].isnull() | df['proficiencia'].isnull()].index

df = df.drop(indexes_to_remove)
print(len(df))

84680
60498

In [221]:
print(len(df1))
indexes_to_remove = df1[df1['mae_sabe_ler_escrever'].isnull() | df1['proficiencia'].isnull()].index

df1 = df1.drop(indexes_to_remove)
print(len(df1))

93250
68214

In [222]:
# selecting categorical columns
#columns_to_filter = ['possui_eletrecidade', 'possui_escrivaninha', 'escolaridade_mae', 'escolaridade_pai', 'responsaveis_leem', 'responsaveis_incentivam_realizacao_licao_casa', 'responsaveis_incentivam_estudos', 'responsaveis_incentivam_comparecer_aulas', 'tempo_chegada_escola', 'forma_chegada_escola', 'transporte_escolar', 'tempo_lazer', 'tempo_cursos', 'tempo_estudos', 'leitura_noticias', 'leitura_livros_geral', 'leitura_historia_quadrinhos', 'sexo', 'escola_publica']
# selecting all columns with dtype object
columns_to_filter = df.select_dtypes(include=['object']).columns

# remove rows with all values '.' or '*'
df = df[(df[columns_to_filter] != '.').all(axis=1)]
df = df[(df[columns_to_filter] != '*').all(axis=1)]
print(len(df))

df.head()

60498

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_espetaculo_exposicao,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno
274,2015,PB,1,17518688,0,MT,-0.472096,0.538400,223.577837,30.092429,...,C,B,A,A,A,C,2,25077147,9,1
348,2015,PB,1,17518163,0,MT,-0.809452,0.580177,204.722224,32.427443,...,C,B,B,B,A,B,2,61135320,9,1
408,2015,PB,1,17491526,0,LP,-0.828752,0.366511,204.326255,20.192323,...,None,None,A,B,A,B,2,25034820,9,1
1008,2015,PB,1,17508044,0,LP,-0.775107,0.449797,207.281739,24.780829,...,B,B,A,A,A,B,2,25065025,9,1
1594,2015,PB,1,17489545,0,MT,-0.069178,0.583999,246.097862,32.641064,...,B,B,A,C,A,C,2,25030620,9,2

In [223]:
columns_to_filter = df1.select_dtypes(include=['object']).columns

# remove rows with all values '.' or '*'
df1 = df1[(df1[columns_to_filter] != '.').all(axis=1)]
df1 = df1[(df1[columns_to_filter] != '*').all(axis=1)]
print(len(df1))

df1.head()

68214

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_espetaculo_exposicao,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno
1697,2017,PB,1,23065558,0,MT,0.251324,0.401876,264.011464,22.461785,...,B,A,A,A,A,D,3,25049119,9,2
4485,2017,PB,1,23065549,0,LP,-1.023466,0.438289,193.598806,24.146815,...,C,None,A,A,A,B,3,25049119,9,2
6255,2017,PB,1,23089645,0,LP,0.280743,0.313949,265.452066,17.296506,...,B,A,A,A,A,C,2,25072161,9,2
8086,2017,PB,1,23061434,0,LP,0.665701,0.312872,286.660697,17.237171,...,B,C,A,A,A,C,2,25042351,9,2
10261,2017,PB,1,23065549,0,MT,-0.844621,0.501619,202.756547,28.036654,...,C,None,A,A,A,B,3,25049119,9,2

In [224]:
# print columns with dtype object
print(df.select_dtypes(include=['object']).columns)

Index(['sigla_uf', 'id_aluno', 'disciplina', 'desempenho_aluno', 'sexo',
       'raca_cor', 'escolaridade_mae', 'mae_sabe_ler_escrever', 'mae_le',
       'escolaridade_pai', 'pai_sabe_ler_escrever', 'pai_le',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas', 'possui_computador',
       'tempo_lazer', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'rede', 'id_escola', 'turno'],
      dtype='object')

In [225]:
df['idade'].value_counts(dropna=False)

idade
14      19600
15      19362
16       8884
17       4366
<NA>     3944
13       2584
18       1758
Name: count, dtype: Int64

In [226]:
df1['idade'].value_counts(dropna=False)

idade
15      24908
14      20992
16      11096
17       5214
<NA>     2328
18       2014
13       1662
Name: count, dtype: Int64

In [227]:
# nulling '2021' from 'idade'
# not being used as we dont have 2021 data in this dataset
#df['idade'] = df['idade'].apply(lambda x: x if x != 2021 else np.nan)


# change 'idade' type to float (temporarily)
df['idade'] = df['idade'].astype(float)

# fill 'idade' missing values with the mean (int)
df.fillna({'idade': df['idade'].mean()}, inplace=True)
df['idade'] = df['idade'].astype(int)

df['idade'].head()

274     14
348     14
408     14
1008    14
1594    14
Name: idade, dtype: int64

In [228]:
df1['idade'] = df1['idade'].astype(float)

df1.fillna({'idade': df1['idade'].mean()}, inplace=True)
df1['idade'] = df1['idade'].astype(int)

df1['idade'].head()

1697     15
4485     15
6255     15
8086     15
10261    15
Name: idade, dtype: int64

In [229]:
print(df['idade'].value_counts())

print('\n')

print(df['idade'].describe())

idade
14    23544
15    19362
16     8884
17     4366
13     2584
18     1758
Name: count, dtype: int64


count    60498.000000
mean        14.903765
std          1.117061
min         13.000000
25%         14.000000
50%         15.000000
75%         15.000000
max         18.000000
Name: idade, dtype: float64

In [230]:
print(df1['idade'].value_counts())

print('\n')

print(df1['idade'].describe())

idade
15    27236
14    20992
16    11096
17     5214
18     2014
13     1662
Name: count, dtype: int64


count    68214.000000
mean        15.047644
std          1.066336
min         13.000000
25%         14.000000
50%         15.000000
75%         16.000000
max         18.000000
Name: idade, dtype: float64

In [231]:
print(df['proficiencia_saeb'].isnull().sum())

# drop null values from 'proficiencia_saeb'
df.dropna(subset=['proficiencia_saeb'], inplace=True)

print(df['proficiencia_saeb'].isnull().sum())

0
0

In [232]:
print(df1['proficiencia_saeb'].isnull().sum())

df1.dropna(subset=['proficiencia_saeb'], inplace=True)

print(df1['proficiencia_saeb'].isnull().sum())

0
0

In [233]:
df['desempenho_aluno'].value_counts(dropna=False)

desempenho_aluno
BÃ¡sico          32405
Insuficiente    19705
Proficiente      7440
AvanÃ§ado          948
Name: count, dtype: int64

In [234]:
df1['desempenho_aluno'].value_counts(dropna=False)

desempenho_aluno
BÃ¡sico          35266
Insuficiente    21410
Proficiente     10080
AvanÃ§ado         1458
Name: count, dtype: int64

In [235]:
# changing 'desempenho_aluno' to categorical numerical values
# Insuficiente = 0, BÃ¡sico = 1, Proficiente = 2, AvanÃ§ado = 3
# dropping None values

# drop the ones with value 'None'
_ = df.dropna(subset=['desempenho_aluno']).copy()

_.loc[:, 'desempenho_aluno_cat'] = _['desempenho_aluno'].map({'Insuficiente': 0, 'BÃ¡sico': 1, 'Proficiente': 2, 'AvanÃ§ado': 3})
#df['desempenho_aluno'] = df['desempenho_aluno'].astype(int)

df = _

df['desempenho_aluno_cat'].value_counts(dropna=False)

desempenho_aluno_cat
1    32405
0    19705
2     7440
3      948
Name: count, dtype: int64

In [236]:
_ = df1.dropna(subset=['desempenho_aluno']).copy()

_.loc[:, 'desempenho_aluno_cat'] = _['desempenho_aluno'].map({'Insuficiente': 0, 'BÃ¡sico': 1, 'Proficiente': 2, 'AvanÃ§ado': 3})

df1 = _

df1['desempenho_aluno_cat'].value_counts(dropna=False)

desempenho_aluno_cat
1    35266
0    21410
2    10080
3     1458
Name: count, dtype: int64

In [237]:
exclude = ['ano', 'sigla_uf', 'id_aluno', 'situacao_censo', 'disciplina', 'rede', 'id_escola', 'serie', 'turno', 'escola_publica']

for column in columns_to_filter:
    if column not in exclude:
        print(column, df[column].unique())

desempenho_aluno ['Insuficiente' 'BÃ¡sico' 'AvanÃ§ado' 'Proficiente']
sexo ['A' 'B' None]
raca_cor [None 'C' 'E' 'B' 'A' 'F' 'D']
escolaridade_mae ['B' None 'A' 'E' 'D' 'C' 'F' 'G']

mae_sabe_ler_escrever ['B' 'A']
mae_le ['B' None 'A']
escolaridade_pai ['B' 'C' 'G' 'A' 'D' 'E' 'F' None]
pai_sabe_ler_escrever ['B' 'A' None]
pai_le ['B' 'A' None]
responsaveis_incentivam_realizacao_licao_casa ['A' 'B' None]
responsaveis_incentivam_estudos ['A' 'B' None]
responsaveis_incentivam_leitura ['A' 'B' None]
responsaveis_incentivam_comparecer_aulas ['A' 'B' None]
possui_computador ['A' None 'B' 'E' 'C' 'D']
tempo_lazer ['D' 'A' 'C' 'E' 'B' None]
leitura_jornais ['B' 'C' 'A' None]
leitura_livros_geral ['C' 'B' 'A' None]
leitura_literatura_infantojuvenil ['C' 'A' 'B' None]
leitura_historia_quadrinhos ['B' 'C' 'A' None]
leitura_revista_comportamento ['B' 'C' 'A' None]
leitura_revistas_geral ['C' 'B' 'A' None]
leitura_internet ['A' 'C' 'B' None]
frequenta_biblioteca ['C' None 'B' 'A']
frequenta_cinema ['C' None 'B' 'A']
frequenta_espetaculo_exposicao ['C' None 'B' 'A']
frequenta_festas_comunidade ['B' None 'A' 'C']
gosta_estudar_disciplina ['A' 'B' None]
faz_licao_casa ['A' 'B' 'C' None 'D']
correcao_licao_casa ['A' 'B' 'C' 'D' None]
utiliza_biblioteca_escola ['C' 'B' 'A' 'D' None]

In [238]:
for column in columns_to_filter:
    if column not in exclude:
        print(column, df1[column].unique())

desempenho_aluno ['BÃ¡sico' 'Insuficiente' 'Proficiente' 'AvanÃ§ado']
sexo ['A' 'B' None]
raca_cor ['F' 'D' 'C' 'A' 'B' None 'E']
escolaridade_mae ['G' 'F' 'E' 'B' 'A' 'C' 'D' None]
mae_sabe_ler_escrever ['A' 'B']
mae_le ['A' 'B' None]
escolaridade_pai ['G' 'B' 'A' 'F' 'C' 'E' 'D' None]
pai_sabe_ler_escrever ['A' 'B' None]
pai_le ['B' 'A' None]
responsaveis_incentivam_realizacao_licao_casa ['A' 'B' None]
responsaveis_incentivam_estudos ['A' 'B' None]
responsaveis_incentivam_leitura ['A' 'B' None]
responsaveis_incentivam_comparecer_aulas ['A' 'B' None]
possui_computador ['A' 'B' 'C' None 'D' 'E']
tempo_lazer ['D' 'A' 'C' 'B' 'E' None]
leitura_jornais ['C' None 'B' 'A']
leitura_livros_geral ['A' 'B' 'C' None]
leitura_literatura_infantojuvenil ['A' 'B' 'C' None]
leitura_historia_quadrinhos ['A' 'C' 'B' None]
leitura_revista_comportamento ['C' None 'B' 'A']
leitura_revistas_geral ['B' 'C' None 'A']
leitura_internet ['B' 'C' 'A' None]
frequenta_biblioteca ['C' 'B' 'A' None]
frequenta_cinema ['C' 'B' None 'A']
frequenta_espetaculo_exposicao ['B' 'C' None 'A']
frequenta_festas_comunidade ['A' None 'C' 'B']
gosta_estudar_disciplina ['A' 'B' None]
faz_licao_casa ['A' 'C' 'B' None 'D']
correcao_licao_casa ['A' 'C' 'B' None 'D']
utiliza_biblioteca_escola ['D' 'B' 'C' 'A' None]

In [239]:
# questÃµes "tempo_"
# Fora da escola em dias de aula, quanto tempo vocÃª usa para: 
# A: Menos de 1 hora (1)
# B: Entre 1 a 2 horas (2)
# C: Mais de 2 horas (3)
# D: Mais de 3 horas (4)
# E: NÃ£o uso meu tempo para isso (0)

tempo_columns = ['tempo_lazer']

for column in tempo_columns:
    df[column] = df[column].map({'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 0})
    df1[column] = df1[column].map({'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 0})

df[tempo_columns].head()

      tempo_lazer
274           4.0
348           1.0
408           3.0
1008          0.0
1594          1.0

In [240]:
# questÃµes "responsaveis_"
# Seus pais ou responsaveis incentivam vocÃª a ...
# A: Sim (1)
# B: NÃ£o (0)

responsaveis = ['responsaveis_incentivam_realizacao_licao_casa', 'responsaveis_incentivam_estudos', 'responsaveis_incentivam_comparecer_aulas', 'responsaveis_incentivam_leitura']

for column in responsaveis:
    df[column] = df[column].map({'A': 1, 'B': 0})
    df1[column] = df1[column].map({'A': 1, 'B': 0})

df[responsaveis].head()

,responsaveis_incentivam_realizacao_licao_casa,responsaveis_incentivam_estudos,responsaveis_incentivam_comparecer_aulas,responsaveis_incentivam_leitura
274,1.0,1.0,1.0,1.0
348,1.0,1.0,1.0,0.0
408,1.0,1.0,1.0,1.0
1008,1.0,1.0,1.0,1.0
1594,1.0,1.0,1.0,1.0

In [241]:
df['escolaridade_mae'].value_counts(dropna=False)

escolaridade_mae
B       13336
E       11512
C       10508
G       10154
D        6524
F        4200
A        2616
None     1648
Name: count, dtype: int64

In [242]:
# questÃµes "escolaridade_"
# AtÃ© que sÃ©rie seu pai, ou o homem responsÃ¡vel por vocÃª, estudou?	
# A) Nunca estudou. (0)
# B) NÃ£o completou a 4.Âª sÃ©rie/5.Âº ano.	
# C) Completou a 4.Âª sÃ©rie/5.Âº ano, mas nÃ£o completou a 8.Âª sÃ©rie/9.Âº ano.	
# D) Completou a 8.Âª sÃ©rie/9.Âº ano, mas nÃ£o completou o Ensino MÃ©dio.	
# E) Completou o Ensino MÃ©dio, mas nÃ£o completou a Faculdade.	
# F) Completou a Faculdade.	
# G) NÃ£o sei.	

escolaridade = ['escolaridade_mae', 'escolaridade_pai']
# droppar 'NÃ£o sei'
for column in escolaridade:
    df = df[df[column] != 'G']
    df1 = df1[df1[column] != 'G']

for column in escolaridade:
    df[column] = df[column].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5})
    df1[column] = df1[column].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5})

df[escolaridade].head()

      escolaridade_mae  escolaridade_pai
274                1.0               1.0
348                NaN               1.0
408                0.0               2.0
1594               1.0               1.0
1847               1.0               1.0

In [243]:
# na sua casa tem computador?
# NÃ£o tem.	Sim, um.	Sim, dois.	Sim, trÃªs.	Sim, quatro ou mais.
df['possui_computador'] = df['possui_computador'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4})
df1['possui_computador'] = df1['possui_computador'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4})

In [244]:
# colunas 'leitura_'
# Com qual frequÃªncia vocÃª lÃª ...
# Sempre ou quase sempre.	De vez em quando.	Nunca ou quase nunca.


leitura_columns = [coluna for coluna in df.columns if 'leitura_' in coluna]

for column in leitura_columns:
    df[column] = df[column].map({'A': 2, 'B': 1, 'C': 0})
    df1[column] = df1[column].map({'A': 2, 'B': 1, 'C': 0})

df[leitura_columns].head()

,leitura_jornais,leitura_livros_geral,leitura_literatura_infantojuvenil,leitura_historia_quadrinhos,leitura_revista_comportamento,leitura_revistas_geral,leitura_internet
274,1.0,0.0,0.0,1.0,1.0,0.0,2.0
348,0.0,1.0,0.0,1.0,0.0,0.0,0.0
408,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1594,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1847,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [245]:
# colunas 'frequenta_'
# Com que frequÃªncia vocÃª costuma ir Ã  ...
# Sempre ou quase sempre.	De vez em quando.	Nunca ou quase nunca.

frequenta_columns = [coluna for coluna in df.columns if 'frequenta_' in coluna]

for column in frequenta_columns:
    df[column] = df[column].map({'A': 2, 'B': 1, 'C': 0})
    df1[column] = df1[column].map({'A': 2, 'B': 1, 'C': 0})

df[frequenta_columns].head()

,frequenta_biblioteca,frequenta_cinema,frequenta_espetaculo_exposicao,frequenta_festas_comunidade
274,0.0,0.0,0.0,1.0
348,0.0,0.0,0.0,1.0
408,NaN,NaN,NaN,NaN
1594,0.0,1.0,1.0,1.0
1847,1.0,0.0,0.0,2.0

In [246]:
# 'faz_licao_casa', 'correcao_licao_casa'
# VocÃª faz o dever de casa de LÃ­ngua Portuguesa?
# O(A) professor(a) corrige o dever de casa de LÃ­ngua Portuguesa?
# Sempre ou quase sempre.	De vez em quando.	Nunca ou quase nunca.	O(A) professor(a) nÃ£o passa dever de casa.

columns_to_label = ['faz_licao_casa', 'correcao_licao_casa']

for column in columns_to_label:
    df[column] = df[column].map({'A': 2, 'B': 1, 'C': 0, 'D': 0})
    df1[column] = df1[column].map({'A': 2, 'B': 1, 'C': 0, 'D': 0})

In [247]:
#  'utiliza_biblioteca_escola'
# VocÃª utiliza a biblioteca ou sala de leitura da sua escola?
# Sempre ou quase sempre.	De vez em quando.	Nunca ou quase nunca.	A escola nÃ£o possui biblioteca ou sala de leitura.

df['utiliza_biblioteca_escola'] = df['utiliza_biblioteca_escola'].map({'A': 2, 'B': 1, 'C': 0, 'D': 0})
df1['utiliza_biblioteca_escola'] = df1['utiliza_biblioteca_escola'].map({'A': 2, 'B': 1, 'C': 0, 'D': 0})

In [248]:
# gosta de estudar disciplina

df['gosta_estudar_disciplina']  = df['gosta_estudar_disciplina'].map({'A': 1, 'B': 0})
df1['gosta_estudar_disciplina']  = df1['gosta_estudar_disciplina'].map({'A': 1, 'B': 0})

In [249]:
# mae_sabe_ler_escrever, pai_sabe_ler_escrever
# pai_le, mae_le
# Sim.	NÃ£o.
# 1, 0

columns = ['mae_sabe_ler_escrever', 'pai_sabe_ler_escrever', 'pai_le', 'mae_le']

for column in columns:
    df[column] = df[column].map({'A': 1, 'B': 0})
    df1[column] = df1[column].map({'A': 1, 'B': 0})

df[columns].head()

      mae_sabe_ler_escrever  pai_sabe_ler_escrever  pai_le  mae_le
274                       0                    0.0     0.0     0.0
348                       1                    1.0     1.0     NaN
408                       0                    1.0     1.0     0.0
1594                      1                    0.0     1.0     1.0
1847                      1                    1.0     1.0     1.0

In [250]:
exclude = ['ano', 'sigla_uf', 'id_aluno', 'situacao_censo', 'disciplina', 'proficiencia', 'erro_padrao', 'proficiencia_saeb',
       'erro_padrao_saeb', 'desempenho_aluno', 'sexo', 'raca_cor','ano_nascimento', 'rede', 'id_escola', 'serie', 'turno']

# print unique values for each column excluding exclude columns
for col in df.columns:
    if col not in exclude:
        print(col, df[col].unique())

escola_publica <IntegerArray>
[1, 0]
Length: 2, dtype: Int64
idade [14 18 17 16 15 13]
escolaridade_mae [ 1. nan  0.  3.  2.  5.  4.]
mae_sabe_ler_escrever [0 1]
mae_le [ 0. nan  1.]
escolaridade_pai [ 1.  2.  0.  3.  4.  5. nan]
pai_sabe_ler_escrever [ 0.  1. nan]
pai_le [ 0.  1. nan]
responsaveis_incentivam_realizacao_licao_casa [ 1.  0. nan]
responsaveis_incentivam_estudos [ 1.  0. nan]
responsaveis_incentivam_leitura [ 1.  0. nan]
responsaveis_incentivam_comparecer_aulas [ 1.  0. nan]
possui_computador [ 0. nan  1.  4.  2.  3.]
tempo_lazer [ 4.  1.  3.  2.  0. nan]
leitura_jornais [ 1.  0.  2. nan]
leitura_livros_geral [ 0.  1.  2. nan]
leitura_literatura_infantojuvenil [ 0.  2.  1. nan]
leitura_historia_quadrinhos [ 1.  0.  2. nan]
leitura_revista_comportamento [ 1.  0.  2. nan]
leitura_revistas_geral [ 0.  2. nan  1.]
leitura_internet [ 2.  0.  1. nan]
frequenta_biblioteca [ 0. nan  1.  2.]
frequenta_cinema [ 0. nan  1.  2.]
frequenta_espetaculo_exposicao [ 0. nan  1.  2.]
frequenta_festas_comunidade [ 1. nan  2.  0.]
gosta_estudar_disciplina [ 1.  0. nan]
faz_licao_casa [ 2.  1.  0. nan]
correcao_licao_casa [ 2.  1.  0. nan]
utiliza_biblioteca_escola [ 0.  1.  2. nan]
desempenho_aluno_cat [0 1 3 2]

In [251]:
for col in df.columns:
    if col not in exclude:
        print(col, df1[col].unique())

escola_publica <IntegerArray>
[1, 0]
Length: 2, dtype: Int64
idade [15 13 14 16 17 18]
escolaridade_mae [ 4.  1.  0.  2.  3.  5. nan]
mae_sabe_ler_escrever [1 0]
mae_le [ 1.  0. nan]
escolaridade_pai [ 1.  0.  2.  4.  3.  5. nan]
pai_sabe_ler_escrever [ 1.  0. nan]
pai_le [ 0. nan  1.]
responsaveis_incentivam_realizacao_licao_casa [ 1.  0. nan]
responsaveis_incentivam_estudos [ 1.  0. nan]
responsaveis_incentivam_leitura [ 1.  0. nan]
responsaveis_incentivam_comparecer_aulas [ 1.  0. nan]
possui_computador [ 1.  0.  2. nan  3.  4.]
tempo_lazer [ 3.  1.  4.  0.  2. nan]
leitura_jornais [ 0. nan  1.  2.]
leitura_livros_geral [ 1. nan  2.  0.]
leitura_literatura_infantojuvenil [ 0.  1.  2. nan]
leitura_historia_quadrinhos [ 0.  2.  1. nan]
leitura_revista_comportamento [ 0. nan  1.  2.]
leitura_revistas_geral [ 0. nan  2.  1.]
leitura_internet [ 2. nan  1.  0.]
frequenta_biblioteca [ 0.  1.  2. nan]
frequenta_cinema [ 1.  0. nan  2.]
frequenta_espetaculo_exposicao [ 1. nan  0.  2.]
frequenta_festas_comunidade [ 2.  0.  1. nan]
gosta_estudar_disciplina [ 1.  0. nan]
faz_licao_casa [ 2.  1.  0. nan]
correcao_licao_casa [ 2.  1. nan  0.]
utiliza_biblioteca_escola [ 0.  1.  2. nan]
desempenho_aluno_cat [1 2 0 3]

In [252]:
df['escola_publica'] = df['escola_publica'].astype('int64')
df1['escola_publica'] = df1['escola_publica'].astype('int64')


print(df['escola_publica'].dtype)
print(df1['escola_publica'].dtype)

int64
int64

In [253]:
# concat dfs
df = pd.concat([df, df1])
df.head()

,ano,sigla_uf,escola_publica,id_aluno,situacao_censo,disciplina,proficiencia,erro_padrao,proficiencia_saeb,erro_padrao_saeb,...,frequenta_festas_comunidade,gosta_estudar_disciplina,faz_licao_casa,correcao_licao_casa,utiliza_biblioteca_escola,rede,id_escola,serie,turno,desempenho_aluno_cat
274,2015,PB,1,17518688,0,MT,-0.472096,0.538400,223.577837,30.092429,...,1.0,1.0,2.0,2.0,0.0,2,25077147,9,1,0
348,2015,PB,1,17518163,0,MT,-0.809452,0.580177,204.722224,32.427443,...,1.0,0.0,1.0,2.0,1.0,2,61135320,9,1,0
408,2015,PB,1,17491526,0,LP,-0.828752,0.366511,204.326255,20.192323,...,NaN,1.0,1.0,2.0,1.0,2,25034820,9,1,1
1594,2015,PB,1,17489545,0,MT,-0.069178,0.583999,246.097862,32.641064,...,1.0,1.0,0.0,2.0,0.0,2,25030620,9,2,1
1847,2015,PB,1,17561474,0,MT,-0.462874,0.543093,224.093276,30.354732,...,2.0,1.0,NaN,2.0,2.0,2,25120760,9,3,0

In [254]:
save = True

if save:
    df.to_pickle(os.path.join(DATA_FOLDER, 'saeb_treated.pkl'))