In [1]:
import pandas as pd
import os
cwd = os.getcwd()

ROOT = os.path.join(cwd, '../')
DATA_FOLDER = os.path.join(ROOT, 'data/')

/home/erlo/.local/lib/python3.12/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_pickle(os.path.join(DATA_FOLDER, 'saeb_pb_2015.pkl'))
print(len(df))
df.head()

84680

,ano,sigla_uf,id_regiao,id_municipio,area,mascara,ano_mascara,id_escola,rede,escola_publica,...,pandemia_auxilio_professor,pandemia_compreensao_conteudo,pandemia_ambiente_tranquilo,pandemia_apoio_familia,pandemia_apoio_colegas,pretensao_futura,opiniao_teste,opiniao_frase_1,opiniao_frase_2,opiniao_frase_3
0,2015,PB,2,2500304,2,None,<NA>,25062638,2,1,...,None,None,None,None,None,None,None,None,None,None
1,2015,PB,2,2500304,2,None,<NA>,25063235,3,1,...,None,None,None,None,None,None,None,None,None,None
2,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None
3,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None
4,2015,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None

In [3]:
df1 = pd.read_pickle(os.path.join(DATA_FOLDER, 'saeb_pb_2017.pkl'))
print(len(df1))
df1.head()

93250

,ano,sigla_uf,id_regiao,id_municipio,area,mascara,ano_mascara,id_escola,rede,escola_publica,...,pandemia_auxilio_professor,pandemia_compreensao_conteudo,pandemia_ambiente_tranquilo,pandemia_apoio_familia,pandemia_apoio_colegas,pretensao_futura,opiniao_teste,opiniao_frase_1,opiniao_frase_2,opiniao_frase_3
0,2017,PB,2,2500106,2,None,<NA>,25033670,3,1,...,None,None,None,None,None,None,None,None,None,None
1,2017,PB,2,2500304,2,None,<NA>,61199441,2,1,...,None,None,None,None,None,None,None,None,None,None
2,2017,PB,2,2500304,2,None,<NA>,61199441,2,1,...,None,None,None,None,None,None,None,None,None,None
3,2017,PB,2,2500403,2,None,<NA>,25122150,3,1,...,None,None,None,None,None,None,None,None,None,None
4,2017,PB,2,2500502,2,None,<NA>,25253948,3,1,...,None,None,None,None,None,None,None,None,None,None

In [4]:
print(df1.dropna(axis=1, how='all').columns)
df1 = df1.dropna(axis=1, how='all')

Index(['ano', 'sigla_uf', 'id_regiao', 'id_municipio', 'area', 'id_escola',
       'rede', 'escola_publica', 'localizacao', 'id_turma', 'turno', 'serie',
       'id_aluno', 'situacao_censo', 'disciplina', 'preenchimento_caderno',
       'caderno', 'bloco_1', 'bloco_2', 'respostas_bloco_1',
       'respostas_bloco_2', 'indicador_proficiencia', 'indicador_prova_brasil',
       'estrato', 'peso_aluno', 'proficiencia', 'erro_padrao',
       'proficiencia_saeb', 'erro_padrao_saeb', 'desempenho_aluno',
       'preenchimento_questionario', 'sexo', 'raca_cor', 'mes_nascimento',
       'ano_nascimento', 'idade', 'faixa_etaria', 'mora_mae', 'mora_pai',
       'quantidade_pessoas_domicilio', 'possui_trabalho',
       'possui_casa_dormitorio', 'possui_casa_banheiro', 'possui_automovel',
       'possui_geladeira', 'possui_geladeira_freezer', 'possui_freezer',
       'possui_maquina_lavar_roupa', 'possui_radio', 'possui_tv',
       'possui_videocassete_dvd', 'possui_computador',
       'possui_empregada_domestica_cinco_dias', 'escolaridade_mae',
       'mae_sabe_ler_escrever', 'mae_le', 'escolaridade_pai',
       'pai_sabe_ler_escrever', 'pai_le', 'responsaveis_conversam_escola',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas',
       'responsaveis_comparecem_reuniao_pais', 'inicio_estudos', 'rede_ef',
       'reprovacao', 'evasao_escolar_ate_final_ano', 'tempo_lazer',
       'tempo_trabalho_domestico', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'pretensao_futura'],
      dtype='object')

In [5]:
print(df.dropna(axis=1, how='all').columns)
df = df.dropna(axis=1, how='all')

Index(['ano', 'sigla_uf', 'id_regiao', 'id_municipio', 'area', 'id_escola',
       'rede', 'escola_publica', 'localizacao', 'id_turma', 'turno', 'serie',
       'id_aluno', 'situacao_censo', 'disciplina', 'preenchimento_caderno',
       'caderno', 'bloco_1', 'bloco_2', 'respostas_bloco_1',
       'respostas_bloco_2', 'indicador_proficiencia', 'indicador_prova_brasil',
       'estrato', 'peso_aluno', 'proficiencia', 'erro_padrao',
       'proficiencia_saeb', 'erro_padrao_saeb', 'desempenho_aluno',
       'preenchimento_questionario', 'sexo', 'raca_cor', 'mes_nascimento',
       'ano_nascimento', 'idade', 'faixa_etaria', 'mora_mae', 'mora_pai',
       'quantidade_pessoas_domicilio', 'possui_trabalho',
       'possui_casa_dormitorio', 'possui_casa_banheiro', 'possui_automovel',
       'possui_geladeira', 'possui_geladeira_freezer', 'possui_freezer',
       'possui_maquina_lavar_roupa', 'possui_radio', 'possui_tv',
       'possui_videocassete_dvd', 'possui_computador',
       'possui_empregada_domestica_cinco_dias', 'escolaridade_mae',
       'mae_sabe_ler_escrever', 'mae_le', 'escolaridade_pai',
       'pai_sabe_ler_escrever', 'pai_le', 'responsaveis_conversam_escola',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas',
       'responsaveis_comparecem_reuniao_pais', 'inicio_estudos', 'rede_ef',
       'reprovacao', 'evasao_escolar_ate_final_ano', 'tempo_lazer',
       'tempo_trabalho_domestico', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'pretensao_futura'],
      dtype='object')

In [6]:
# read colunas_final to get the columns to use
with open(os.path.join(DATA_FOLDER, 'colunas_final.txt'), 'r') as f:
    colunas = f.read().splitlines()

# only use columns if they are present in dataframe
colunas_df1 = [col for col in colunas if col in df.columns]
colunas_df2 = [col for col in colunas if col in df1.columns]

df = df[colunas_df1]
df1 = df1[colunas_df2]

In [7]:
print(len(df1.columns))
print(len(df.columns))

46
46

In [8]:
print(df1.columns)

Index(['ano', 'sigla_uf', 'escola_publica', 'id_aluno', 'situacao_censo',
       'disciplina', 'proficiencia', 'erro_padrao', 'proficiencia_saeb',
       'erro_padrao_saeb', 'desempenho_aluno', 'sexo', 'raca_cor',
       'ano_nascimento', 'idade', 'escolaridade_mae', 'mae_sabe_ler_escrever',
       'mae_le', 'escolaridade_pai', 'pai_sabe_ler_escrever', 'pai_le',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas', 'possui_computador',
       'tempo_lazer', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'rede', 'id_escola', 'serie', 'turno'],
      dtype='object')

In [9]:
print(df.columns)

Index(['ano', 'sigla_uf', 'escola_publica', 'id_aluno', 'situacao_censo',
       'disciplina', 'proficiencia', 'erro_padrao', 'proficiencia_saeb',
       'erro_padrao_saeb', 'desempenho_aluno', 'sexo', 'raca_cor',
       'ano_nascimento', 'idade', 'escolaridade_mae', 'mae_sabe_ler_escrever',
       'mae_le', 'escolaridade_pai', 'pai_sabe_ler_escrever', 'pai_le',
       'responsaveis_incentivam_realizacao_licao_casa',
       'responsaveis_incentivam_estudos', 'responsaveis_incentivam_leitura',
       'responsaveis_incentivam_comparecer_aulas', 'possui_computador',
       'tempo_lazer', 'leitura_jornais', 'leitura_livros_geral',
       'leitura_literatura_infantojuvenil', 'leitura_historia_quadrinhos',
       'leitura_revista_comportamento', 'leitura_revistas_geral',
       'leitura_internet', 'frequenta_biblioteca', 'frequenta_cinema',
       'frequenta_espetaculo_exposicao', 'frequenta_festas_comunidade',
       'gosta_estudar_disciplina', 'faz_licao_casa', 'correcao_licao_casa',
       'utiliza_biblioteca_escola', 'rede', 'id_escola', 'serie', 'turno'],
      dtype='object')

In [10]:
# merge dfs
#df = pd.concat([df, df1], axis=0)
#print(len(df))
#df.head()

In [11]:
df1.info() # 2017

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93250 entries, 0 to 93249
Data columns (total 46 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ano                                            93250 non-null  Int64
 1   sigla_uf                                       93250 non-null  object
 2   escola_publica                                 93250 non-null  Int64
 3   id_aluno                                       93250 non-null  object
 4   situacao_censo                                 93250 non-null  Int64
 5   disciplina                                     93250 non-null  object
 6   proficiencia                                   70536 non-null  float64
 7   erro_padrao                                    70536 non-null  float64
 8   proficiencia_saeb                              70536 non-null  float64
 9   erro_padrao_saeb                               70536 non-null  float64
 10  desempenho_aluno                               70536 non-null  object
 11  sexo                                           67678 non-null  object
 12  raca_cor                                       67716 non-null  object
 13  ano_nascimento                                 67208 non-null  Int64
 14  idade                                          67208 non-null  Int64
 15  escolaridade_mae                               67638 non-null  object
 16  mae_sabe_ler_escrever                          68238 non-null  object
 17  mae_le                                         68312 non-null  object
 18  escolaridade_pai                               68410 non-null  object
 19  pai_sabe_ler_escrever                          68002 non-null  object
 20  pai_le                                         67382 non-null  object
 21  responsaveis_incentivam_realizacao_licao_casa  68484 non-null  object
 22  responsaveis_incentivam_estudos                68684 non-null  object
 23  responsaveis_incentivam_leitura                68336 non-null  object
 24  responsaveis_incentivam_comparecer_aulas       68300 non-null  object
 25  possui_computador                              68974 non-null  object
 26  tempo_lazer                                    68190 non-null  object
 27  leitura_jornais                                65634 non-null  object
 28  leitura_livros_geral                           66010 non-null  object
 29  leitura_literatura_infantojuvenil              64538 non-null  object
 30  leitura_historia_quadrinhos                    64466 non-null  object
 31  leitura_revista_comportamento                  65236 non-null  object
 32  leitura_revistas_geral                         64492 non-null  object
 33  leitura_internet                               66038 non-null  object
 34  frequenta_biblioteca                           66052 non-null  object
 35  frequenta_cinema                               65962 non-null  object
 36  frequenta_espetaculo_exposicao                 65680 non-null  object
 37  frequenta_festas_comunidade                    64776 non-null  object
 38  gosta_estudar_disciplina                       66696 non-null  object
 39  faz_licao_casa                                 67898 non-null  object
 40  correcao_licao_casa                            68068 non-null  object
 41  utiliza_biblioteca_escola                      68090 non-null  object
 42  rede                                           93250 non-null  object
 43  id_escola                                      93250 non-null  object
 44  serie                                          93250 non-null  Int64
 45  turno                                          93250 non-null  object
dtypes: Int64(6), float64(4), object(36)
memory usage: 33.3+ MB

In [12]:
df.info() # 2015

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84680 entries, 0 to 84679
Data columns (total 46 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ano                                            84680 non-null  Int64
 1   sigla_uf                                       84680 non-null  object
 2   escola_publica                                 84680 non-null  Int64
 3   id_aluno                                       84680 non-null  object
 4   situacao_censo                                 84680 non-null  Int64
 5   disciplina                                     84680 non-null  object
 6   proficiencia                                   63238 non-null  float64
 7   erro_padrao                                    63238 non-null  float64
 8   proficiencia_saeb                              63238 non-null  float64
 9   erro_padrao_saeb                               63238 non-null  float64
 10  desempenho_aluno                               63238 non-null  object
 11  sexo                                           60534 non-null  object
 12  raca_cor                                       58872 non-null  object
 13  ano_nascimento                                 57570 non-null  Int64
 14  idade                                          57570 non-null  Int64
 15  escolaridade_mae                               60232 non-null  object
 16  mae_sabe_ler_escrever                          60524 non-null  object
 17  mae_le                                         60578 non-null  object
 18  escolaridade_pai                               61560 non-null  object
 19  pai_sabe_ler_escrever                          61230 non-null  object
 20  pai_le                                         59750 non-null  object
 21  responsaveis_incentivam_realizacao_licao_casa  61646 non-null  object
 22  responsaveis_incentivam_estudos                61858 non-null  object
 23  responsaveis_incentivam_leitura                61496 non-null  object
 24  responsaveis_incentivam_comparecer_aulas       61484 non-null  object
 25  possui_computador                              60302 non-null  object
 26  tempo_lazer                                    61668 non-null  object
 27  leitura_jornais                                54936 non-null  object
 28  leitura_livros_geral                           56148 non-null  object
 29  leitura_literatura_infantojuvenil              54176 non-null  object
 30  leitura_historia_quadrinhos                    53422 non-null  object
 31  leitura_revista_comportamento                  54372 non-null  object
 32  leitura_revistas_geral                         53566 non-null  object
 33  leitura_internet                               55854 non-null  object
 34  frequenta_biblioteca                           61174 non-null  object
 35  frequenta_cinema                               61162 non-null  object
 36  frequenta_espetaculo_exposicao                 61396 non-null  object
 37  frequenta_festas_comunidade                    61510 non-null  object
 38  gosta_estudar_disciplina                       60665 non-null  object
 39  faz_licao_casa                                 61405 non-null  object
 40  correcao_licao_casa                            61565 non-null  object
 41  utiliza_biblioteca_escola                      61556 non-null  object
 42  rede                                           84680 non-null  object
 43  id_escola                                      84680 non-null  object
 44  serie                                          84680 non-null  Int64
 45  turno                                          84680 non-null  object
dtypes: Int64(6), float64(4), object(36)
memory usage: 30.2+ MB

In [13]:
save = True
if save:
    df.to_pickle('data/saeb_pb_filtered_2015.pkl')
    df1.to_pickle('data/saeb_pb_filtered_2017.pkl')

In [14]:
# save first row as dictionary to file
with open(os.path.join(DATA_FOLDER, 'data/random_row_2015.json'), 'w') as f:
    # transform 'disciplina' column to index
    _ = df.set_index('disciplina')
    f.write(_[_['id_aluno'] == _.sample()['id_aluno'].values[0]].to_json(orient='index'))

with open(os.path.join(DATA_FOLDER, 'data/random_row_2017.json'), 'w') as f:
    # transform 'disciplina' column to index
    _ = df1.set_index('disciplina')
    f.write(_[_['id_aluno'] == _.sample()['id_aluno'].values[0]].to_json(orient='index'))

In [15]:
len(df['id_aluno'].unique())

42340